@use "./mixins";
@import url("https://fonts.googleapis.com/css2?family=Sevillana&display=swap");

.landing {
  min-height: 90vh;
  position: relative;
  //   background: linear-gradient(to right, #9d50bb, #ff0080);
  background-image: url("../assets/back2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background: linear-gradient(to right, #505cbb, #0000ff);
    opacity: 0.5;
    z-index: 0;
  }

  &-nav {
    position: relative;
    z-index: 1;
    margin: 0 80px 40px;
    padding-top: 25px;
  }
  &-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-hamburger {
      display: none;
    }
    &-logo {
      font-family: "Sevillana", cursive !important;
      font-size: 2rem !important;
      color: #fff !important;
      font-weight: bold !important;
      text-transform: none !important;
      border-radius: 50% !important;
      height: auto;
      font-weight: bold;
      font-style: italic;
      cursor: pointer;
    }
    &-links {
      display: flex;
      &-item {
        @include mixins.buttonBasic;
        padding-left: 20px !important;
        padding-right: 20px !important;
        color: #fff !important;
      }
    }
    &-button {
      width: 140px;
      @include mixins.buttonBasic;
    }
  }
  &-content {
    position: relative;
    z-index: 1;
    margin: 30px 80px 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    align-items: center;
  }
  &-info {
    grid-column: 1/2;
    grid-row: 1/2;
    align-self: flex-end;
    &-name {
      font-size: 20px;
      font-weight: 700;
    }
    &-skill {
      margin-top: 15px;
      height: 60px;
      font-size: 48px;
      font-weight: 800;
    }
    &-pitch {
      margin-top: 20px;
      font-size: 21px;
    }
  }
  &-links {
    grid-column: 1/2;
    grid-row: 2/3;
    align-self: flex-start;

    &-cv {
      padding-top: 30px;
      &-button {
        @include mixins.buttonBasic;
        width: 210px;
        height: 48px;
        font-size: 1.05rem !important;
      }
    }
    gap: 30px;
    &-social {
      display: flex;
      gap: 20px;
      margin-top: 30px;
      align-items: center;
      &-item {
        border: 1px solid white;
        transform: scale(1.2);
        border-radius: 50%;
        width: 30px;
        height: 30px;
        @include mixins.flexCenter;
        &-button {
          transform: scale(0.8);
        }
      }
    }
  }
  &-image {
    justify-self: center;
    grid-column: 2/3;
    grid-row: 1/-1;
    border-radius: 16px !important;
    max-width: 600px;
    img {
      max-height: 450px;
      border-radius: 16px !important;
      transform: rotate(5deg);
      border: 5px solid rgb(245, 245, 255);
    }
  }
}

// @1250px changing the padding, font-sizes for the navigation
